
/*
################
FOOTER 
################
*/

footer {
  color: #323334;
}

@media (min-width: 999.98px) {
  footer {
    padding-top: 1.5rem;
  }
}

footer .container {
  margin: 0 auto;
  padding-top: 3.5rem;
  padding-bottom: 0;
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: 100%;
}

@media (min-width: 1248px) {
  footer .container {
    max-width: 1152px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 699px) {
  footer .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

footer.bg-footer-white {
  background-color: #fff;
}

footer.bg-footer-hellamaa {
  background-color: #f7f8f9;
}

footer.bg-footer-mustkivi {
  background-color: #323334;
}

footer.bg-footer-mustkivi .container button.icon-chevron-down svg path {
  stroke: #ffffff;
}

/* Continue com o resto do CSS convertido... */
